/*
I mean... yeah, the colors work. But it makes the website look like it's from 2005.
#3038B0
#B06830
#79B030
*/

body {
    background-image: linear-gradient(90deg, black, 5%, #21361d, 15%, #21361d, 85%, #21361d, 95%, black);
    color: #4393b3;
    margin: 0;
}

/*.gradientleft {
    width: 12.25%;
    background-color: linear-gradient(to right, black, #21361d);
}
.gradientright {
    width: 12.25%;
    background-color: linear-gradient(to right, #21361d, black);
}*/

/*header, .main {
    margin: auto;
}*/

nav, header, .main {
    background-color: #21361d;
    width: 75%;
    /*border-left: 4px solid #262d8f;
    border-right: 4px solid #262d8f;*/
    margin: auto;
    /*margin-top: none;
    margin-bottom: none;*/
    padding: 1%;
}

nav {
    font-size: 20pt;
    /*border: 4px solid #262d8f;*/
    /*text-decoration: none;*/
    /*position:sticky;*/
    padding: 0;
    /*width: 75%;*/
}
.navlist {
    height: 100%;
}
.navlistitem, .navlistsel {
    list-style: none;
    /*display: inline;*/
    float: left;
    width: 33.33%;
    /*margin: auto;*/
    /*border-right: #262d8f;*/
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    transition: background-color 0.5s
}
.navlistitem:hover {
    background-color: #182915;
}
.navlistsel {
    background-color: #1d311a;
}

table {
    /*padding: none;*/
    width: 100%;
    border-collapse: collapse;
}
th {
    border-bottom: 2px solid #182915;
}
td {
    /*border-top: 2px solid #182915;*/
    padding: 1%;
    /*border-left: 2px solid #182915;*/
    /*margin: none;*/
}
td:nth-child(1) {
    border-right: 2px solid #182915;
}
tr:nth-child(2n) {
    background-color: #1d301a;
}
td:nth-child(n+2):nth-last-child(n+2) {
    border-left: 2px solid #182915;
    border-right: 2px solid #182915;
}


/*header {
    align-content: center;
}*/

/*.main {
    background-color: #3038B0;
    border-left: 4px solid #262d8f;
    border-right: 4px solid #262d8f;
    border-radius: 5px;
    width: 75%;
}*/

.submain {
    width: 49%;
    padding: 5px;
    float: left;
}

.photocol {
    width: 49%;
    float: left;
    margin-right: 0.5%;
    margin-left: 0.5%;
}

#links {
    width: 20%;
    float: right;
}

a {
    color: #79B030;
    text-decoration: none;
}
a:hover {
    color: #9adf3f;
    text-shadow: 0px 0px 10px #79B030;
}

.submainheader {
    padding-left: 1%;
    border-bottom: 2px solid #43b3aa;
}

.headertext {
    width: max-content;
    margin: auto;
}

/*.portfolioimg, #portfoliovid {
    border: 3px solid #262d8f;
    border-radius: 8px;
}*/

#portfoliovid {
    width: 99%;
    margin-left: 0.5%;
}

#pagedescription {
    width: 50%;
    margin: auto;
}